*{
  margin: 0;
  padding: 0;
  block-size: border-box;
}

html,body{
  width: 100%;
  height: 100%;
  background-color: #F0E7D6;
}

.bigbox{
  position: relative;
  width: 303px;
  height: 1021px;
  top: 30px;
  left: 373px;
  border-radius: 49px;
  background-color: #9E5628;
}

.bigboxhead1{
  position: absolute;
  width: 592px;
  height: 110px;  
  top: 30px;
  left: 432px;
  border-radius: 49px;
  background-color: #9E5628;
}

.bigboxhead2{
  position: absolute;
  width: 362px; 
  height: 113px;
  top: 103px;
  left: 415px;
  border-radius: 49px 0px 49px;
  background-color: #9E5628;
}

.bigboxfoot{
  position: absolute;
  width: 324px; 
  height: 98px;
  top: 953px;
  left: 411px;
  border-radius: 49px;
  background-color: #9E5628;
}

.home{
  position: absolute;
  width: 87px;
  height: 87px;
  top: 325px;
  left: 330px;
  border-radius: 20px;
  background-color: #fff;
}

.dp{
  position: absolute;
  width: 134px;
  height: 134px;
  top: 64px;
  left: 416px;
  border-radius: 80px;
  background-color: #fff;
}

.chat{
  position: absolute;
  width: 200px;
  height: 62px;
  top: 143px;
  left: 560px;
  border-radius: 49px;
  background-color: aqua;
}

.dots{
  position: absolute;
  width: 115px;
  height: 53px;
  top: 60px;
  left: 866px;
  border-radius: 49px;
  background-color: rgb(172, 188, 188);
}

.bigbox2{
  position: absolute;
  width: 240px;
  height: 630px;
  top: 290px;
  left: 450px;
  border-radius: 49px;
  background-color:black;
}

.bigbox2foot{
  position: absolute;
  width: 102px;
  height: 50px;
  top: 810px;
  left: 633px;
  border-radius: 49px;
  background-color: black;
}

.foot{
  position: absolute;
  width: 403px;
  height: 110px;
  top: 860px;
  left: 530px;
  border-radius: 49px;
  background-color: rgb(146, 195, 195);
}

.follow{
  position: absolute;
  width: 212px;
  height: 60px;
  top: 154px;
  left: 787px;
  border-radius: 49px;
  background-color: rgb(146, 195, 195);
}

.bg{
  position: absolute;
  width: 565px;
  height: 594px;
  top: 216px;
  left: 506px;
  border-radius: 49px;
  background-color: #F0E7D6;
}

.bgwhite{
  position: absolute;
  width: 539px;
  height: 570px;
  top: 228px;
  left: 519px;
  border-radius: 49px;
  background-color: rgb(255, 255, 255);
}

.mainimage{
  position: absolute;
  width: 522px;
  height: 553px;
  top: 237px;
  left: 528px;
  border-radius: 49px;
  background-color: rgb(211, 55, 55);
}

.comments{
  position: absolute;
  width: 241px;
  height: 58px;
  top: 708px;
  left: 618px;
  border-radius: 49px;
  background-color: rgb(88, 51, 51);
}

.minidp{
  position: absolute;
  width: 57px;
  height: 57px;
  top: 708px;
  left: 550px;
  border-radius: 49px;
  background-color: rgb(218, 119, 119);
}

.lefthead{
  position: absolute;
  width: 528px;
  height: 115px;
  top: 111px;
  left: 1011px;
  border-radius: 49px;
  background-color: rgb(156, 58, 58);
}

.leftheadbox{
  position: absolute;
  width: 347px;
  height: 250px;
  top: 140px;
  left: 1075px;
  border-radius: 0px 0px 0px 49px;
  background-color: rgb(156, 58, 58);
}

.bgwhite2{
  position: absolute;
  width: 305px;
  height: 158px;
  top: 421px;
  left: 1050px;
  border-radius: 0px 49px 49px 0px;
  background-color: rgb(255, 255, 255);
  }

.quotes{
  position: absolute;
  width: 274px;
  height: 150px;
  top: 424px;
  left: 1074px;
  border-radius: 49px;
  background-color: rgb(187, 21, 21);
}

.verticalrectangle{
  position: absolute;
  width: 90px;
  height: 394px;
  top: 220px;
  left: 1378px;
  background-color: rgb(156, 58, 58);
}

.bottomhead{
  position: absolute;
  width: 205px;
  height: 259px;
  top: 606px;
  left: 1074px;
  border-radius: 49px;
  background-color: rgb(156, 58, 58);
}

.bottomheadlong{
  position: absolute;
  width: 402px;
  height: 135px;
  top: 606px;
  left: 1145px;
  border-radius: 49px;
  background-color: rgb(156, 58, 58);
  }

.bottomfoot{
  position: absolute;
  width: 418px;
  height: 190px;
  top: 818px;
  left: 961px;
  border-radius: 55px;
  background-color: rgb(156, 58, 58);
}

.bellicon{
  position: absolute;
  width: 82px;
  height: 82px;
  top: 127px;
  left: 1445px;
  border-radius: 49px;
  background-color: rgb(202, 132, 132);
}

.belliconrectangle{
  position: absolute;
  width: 386px;
  height: 82px;
  top: 127px;
  left: 1030px;
  border-radius: 49px;
  background-color: rgb(219, 144, 144);
}

.cf1{
  position: absolute;
  width: 73px;
  height: 73px;
  top: 267px;
  left: 1097px;
  border-radius: 49px;
  background-color: rgb(173, 25, 25);
}

.cf2{
  position: absolute;
  width: 73px;
  height: 73px;
  top: 267px;
  left: 1174px;
  border-radius: 49px;
  background-color: rgb(173, 25, 25);
}

.cf3{
  position: absolute;
  width: 73px;
  height: 73px;
  top: 267px;
  left: 1251px;
  border-radius: 49px;
  background-color: rgb(173, 25, 25);
}

.cf4{
  position: absolute;
  width: 73px;
  height: 73px;
  top: 267px;
  left: 1328px;
  border-radius: 49px;
  background-color: rgb(173, 25, 25);
}

.bgmerge{
  position: absolute;
  background-color: #F0E7D6;
  width: 135px;
  height: 380px;
  top: 226px;
  left: 1423px;
  border-radius: 49px;
}

.webcircle{
  position: absolute;
  width: 82px;
  height: 82px;
  top: 245px;
  left: 1445px;
  border-radius: 49px;
  background-color: #c95252;
}

.webrectangle{
  position: absolute;
  width: 82px;
  height: 242px;
  top: 343px;
  left: 1445px;
  border-radius: 49px;
  background-color: #c95252;
}

.mail{
  position: absolute;
  width: 162px;
  height: 92px;
  top: 625px;
  left: 1366px;
  border-radius: 49px;
  background-color: #664242;
}

.mailbox{
  position: absolute;
  width: 262px;
  height: 92px;
  top: 625px;
  left: 1090px;
  border-radius: 49px;
  background-color: #664242;
}

.pintrest{
  position: absolute;
  width: 317px;
  height: 80px;
  top: 741px;
  left: 1128px;
  border-radius: 49px;
  background-color: #F0E7D6;
}

.songname{
  position: absolute;
  width: 203px;
  height: 45px;
  top: 838px;
  left: 987px;
  border-radius: 49px;
  background-color: #942c2c;
}

.framebound{
  position: absolute;
  width: 135px;
  height: 135px;
  top: 838px;
  left: 1220px;
  border-radius: 20px;
  background-color: #fff;
}

.frame{
  position: absolute;
  width: 128px;
  height: 128px;
  top: 840px;
  left: 1224px;
  border-radius: 20px;
  background-color: #c01111;
}
